  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Flashcard title</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{title}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="events mb-3" id="events">
        <div class="container">

            <div class="section-title">
              <h2><span>{{title}}</span></h2>
            </div>
    
            <div class="events-slider swiper">
              <div class="swiper-wrapper">
                
                {% for w in flashcard.slide_set.all %}
                <div class="swiper-slide">
                  <div class="row event-item justify-content-center align-items-center">
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                      <h3>{{w.title}}</h3>
                      <div class="price">
                        {% comment %} <p><span>$189</span></p> {% endcomment %}
                      </div>
                      <p class="fst-italic">
                        {{w.description}}
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                {% endfor %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
    
        </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}