  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Flashcard title</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Flashcard title</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="events mb-3" id="events">
        <div class="container">

            <div class="section-title">
              <h2><span>Flashcard Title</span></h2>
            </div>
    
            <div class="events-slider swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="row event-item justify-content-center align-items-center">
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                      <h3>Birthday Parties</h3>
                      <div class="price">
                        <p><span>$189</span></p>
                      </div>
                      <p class="fst-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                      </p>
                      <ul>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                      </ul>
                      <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
                
    
                
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
        </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}