  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="#">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container " style="margin-top:70px;">
            <div class="" style="margin-top:50px">
                <div class="rounded d-flex justify-content-center">
                    <div class="col-md-4 col-sm-12 shadow-lg p-5">
                        <div class="text-center">
                            <h2 class="header-color text-start"> <span>Login</span></h2>
                            <p class="green-text" style="text-align: justify;">Welcome back to <span>Paradoxx</span>, it wasn't the same without you. Log back in to continue learning and growing.</p>
                            {% if messages %}
                            {% for message in messages %}
                            <p class="header-color">{{message}}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="p-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                    <input type="text" name="username" id="first_name" class="form-control" placeholder="Username">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="bi bi-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <button class="btn text-center mt-2 btn-custom" type="submit">
                                    Login
                                </button>
                                <p class="text-center mt-5">Don't have an account?
                                    <a href="{% url 'register' %}" style="text-decoration: none;"><span class="green-text">Sign Up</span></a>
                                </p>
                                <a href="#" style="text-decoration: none;"><p class="text-center">Forgot your password?</p></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}