<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Paradoxx</title>
</head>
<body>
    <h3>Welcome to Paradoxx</h3>
    <p>Hello there, I'm Olwatobi Ekundayo, 17 year old full stack web developer and data scientist. I am the author of the application paradoxx.</p>
    <p>Paradoxx is a free tool that helps to make learning easier with the help of flashcards.</p>
    <p>You see, most people find it quite difficult to just dive right into a concept head first and that seems to be the root cause of unproductive traits such as procrastination and laziness.</p>
    <p>To counter this, I made research and found out that the best way to get a person hooked on something is to give them a summary of it. This method has proven itself to be the best based on the tests I carried out.</p>
    <p>I began to wonder how I can use this simple logic to build a webapp and came up with Paradoxx. Something that conveys summarized information in the best possbile way seemed to be flashcards. Hence, the idea of digitized flash cards.</p>
    <p>Paradoxx is all about digitizing flashcards to help you learn better.</p>
    <p>Thanks for giving Paradoxx a chnace. I do hope you enjoy it</p>
    <p><strong>Best Regards</strong></p>
    <p><i>Tobi TheRevolutionary</i></p>
</body>
</html>