  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Edit-Profile</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container-lg">
            <div class="text-start-lg text-start-md text-start-sm">
                <h4>Personal & Contact Information</h4>
                <p class="lead">Here, you can update or change any of your personal & contact information</p>
                <div class="border-bottom"></div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <!--For Loop Start-->
                <div class="col">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                          <label for="firstName" class="form-label">First Name:</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" class="form-control" id="username" placeholder="First Name" required disabled value="{{user.first_name}}"> 
                          </div>                        
                        </div>
            
                        <div class="col-sm-6 mb-3">
                          <label for="lastName" class="form-label">Last Name:</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                            <input type="text" class="form-control" id="username" placeholder="Last Name" required disabled value="{{user.last_name}}">
                          </div>                        
                        </div>
    
                        <div class="col-12 mb-3">
                          <label for="lastName" class="form-label">Occupation:</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                            <input type="text" class="form-control" id="username" placeholder="Occupation" required value="{{user_profile.occupation}}" name="occupation">
                          </div>                        
                        </div>
            
                        <div class="col-12 mb-3">
                          <label for="username" class="form-label">Username:</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="username" placeholder="Username" required disabled value="{{user.username}}">
                          </div>
                        </div>
    
                        <div class="col-12 mb-3">
                            <label for="username" class="form-label">Nationality:</label>
                            <div class="input-group">
                              <span class="input-group-text"><i class="bi bi-flag"></i></span>
                              <input type="text" class="form-control" id="username" placeholder="Address" required name="nationality" value="{{user_profile.nationality}}">
                            </div>
                        </div>
    
                        <div class="col-12 mb-3">
                          <label for="username" class="form-label">Address:</label>
                          <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-house"></i></span>
                            <input type="text" class="form-control" id="username" placeholder="Address" required name="address" value="{{user_profile.address}}">
                          </div>
                        </div>
    
                        <div class="col-12 mb-3">
                          <label for="username" class="form-label">Phone Number:</label>
                          <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            <input type="number" class="form-control" id="username" placeholder="Phone Number" name="phone" value="{{user_profile.phone_number}}" required>
                          </div>
                        </div>
    
                        <div class="col-12 mb-3">
                          <label for="desc" class="form-label">About Me:</label>
                          <textarea name="desc" id="desc" cols="30" rows="30" placeholder="Write Something About Yourself" class="form-control" required>{{user_profile.about_me}}</textarea>
                        </div>
                        
                        <button class="btn btn-secondary btn-custom me-2 normal-text" type="submit">Update Profile</button>
                        
    
                    </div>
                  </form>
                </div>
                <!--For Loop End-->
            </div>
            <!-- <a href="#" class="btn btn-secondary mt-4" data-bs-toggle="modal" data-bs-target="#work">Add Experience</a> -->
        </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}